.left-navigation {
    grid-area: nav;
    background-color: transparent;
}

.items {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em;
}

.item {
    text-decoration: none;
}

.active {
    color: blue;
}
