.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.items {
    display: flex;
    gap: 3em;
    margin: 2em;
}

.about-right > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.about-left, .about-right {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.social, .status {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}