.app {
    background-color: var(--dark-gray);
}

.container {
    max-width: 130em;
    margin: auto;
    
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav main main";
    grid-template-rows: 60px calc(100vh - 60px);
    grid-template-columns: 2fr 10fr;
}

.main {
    grid-area: main;
    background-color: var(--medium-gray);
    margin-top: 2em;
    margin-right: 3em;
}
